<html>

<head>
  <title>modelhub</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/icon.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/material.teal-orange.min.css') }}">
  <script defer src="{{ url_for('static',filename='js/material.min.js') }}"></script>
</head>

<body>
  <h1>modelhub</h1>
  <h2>model: {{title}}</h2>
  <h3>thumbnail</h3> {{thumbnail|safe}}
  <h3>config file dump</h3> {{config|safe}}
  <h3>schematic</h3> {{schematic|safe}}
  <h3>inference<h3>
    <table>
      <tr>
        <td valign="top">
          <h2>Input:</h2>
            <form method=post action="" enctype="multipart/form-data">
              <table>
                {% for field in form %}
                  <tr><td>{{ field.name }}</td>
                      <td>{{ field(size=20) }}</td>
                      <td>{% if field.errors %}
                        <ul class=errors>
                        {% for error in field.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}</ul>
                      {% endif %}</td></tr>
                {% endfor %}
              </table>
              <p><input type="submit" value="Compute">
          </form></p>
        </td>
        <td valign="top">
          {% if result != None %}
            <h2>Results:</h2>
              {{ result|safe }}
          {% endif %}
        </td>
      </tr>
    </table>
  </body>

</html>