<div class="mdl-layout__tab-panel is-active" id="overview">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet">
      <h3>{{name}}</h3>
      <h5>Description</h5> {{model["description"]}}
      <h5>Application</h5> {{meta['application_area']}}
      <h5>Task</h5> {{meta['task']}}: {{meta['task_extended']}}
      <h5>Type</h5> {{model['learning_type']}}
      <h5>Architecture</h5> {{model["architecture"]}}
      <h5>Data</h5> {{meta['data_type']}}: <a target="_blank" href={{meta[ 'data_source']}}> source </a>
    </div>
    <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet">
      <h5>Title</h5> {{publication["title"]}}
      <h5>Authors</h5> {{publication["authors"]}}
      <h5>Abstract</h5> {{publication["abstract"]}}
      <h5>Year</h5> {{publication["year"]}}
      <h5>bibtex</h5>
      <div class="bibtex">{{publication["bibtex"]}}</div>
      <div class="buttons">
        <a href={{publication[ "url"]}} target="_blank" id="butt" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">{{publication["journal"]}}</a>
        <a href={{publication[ "google_scholar"]}} target="_blank" id="butt" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Citations</a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col"></div>
  </div>
  <div id="spacer"></div>
</div>