<div class="mdl-layout__tab-panel" id="overview">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white">
      <img id="thumbnail" src="/model/figures/thumbnail.jpg">
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>{{name}}</h4> <strong>Application:</strong> {{meta['application_area']}} <br> <strong>Type:</strong> {{model['learning_type']}} <br> <strong>License:</strong> {{model['license']}}
      </div>
    </div>
  </section>
  <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
      <h5>Description</h5> {{model["description"]}}
      <h5>Architecture</h5> {{model["architecture"]}}
      <h5>Task</h5> {{meta['task']}}: {{meta['task_extended']}}
      <h5>Data</h5> {{meta['data_type']}}: <a href={{meta[ 'data_source']}}> source </a>
    </div>
  </section>
</div>