<div class="mdl-layout__tab-panel" id="test">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet">
      <div id=dropboxContainer>
        <div id=dropbox> <img id="dropboxPreview"> </img>
          <div id="loading1" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner"></div>
        </div>
        <div id=gallery>
          <div id=galleryContents>
          </div>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet">
      <div id=resultContainer>
        <div id=result>
          <div id="loading2" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner"></div>
          <img class="overlayImage" id="inputImage"> </img>
          <img class="overlayImage" id="resultImage"> </img>
        </div>
        <div id=input>
          <label class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" id=buttonLabel>
          <input id="fileupload" type="file" name="file"></input>
        TRY YOUR OWN FILE
      </label> </br>
          <div>Supported file formats: {{allowed}}</div>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col"></div>
  </div>
  <div id="spacer"></div>
</div>