<div class="mdl-layout__tab-panel is-active" id="test">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet">
      <div id=dropboxCard class="mdl-card mdl-shadow--2dp">
        <div id="dropbox">
          Drop files to test
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet">
      <div id=resultCard class="mdl-card mdl-shadow--2dp">
        <div id=result>
          results
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col"></div>
    <!-- new row -->
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet">
      <div id=examplesCard class="mdl-card mdl-shadow--2dp">
        <div id=examples>
          examples
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col"></div>
  </div>
</div>